:root {
  --logo-color: #437e58;
  --logo-color-hover:#23c483;
  --logo-color-disabled: rgba(67, 126, 88, 0.1);

  --bg-color-dark: #5d5e5e;
  --bg-color-mid: #f0f2f5;
  --bg-color-light: #f8f9fa;
  --black-a08: rgba(0,0,0,0.08);
  --black-a30: rgba(0,0,0,0.3);
  --color-shadow: var(--black-a30);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 0px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined),0px 4px 4px var(--color-shadow);

}
body {
  background-color: var(--bg-color-light);
  margin: 0;
}
h1 {
  margin-top: 100px;
  margin-bottom: 1em;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 20px;
}

p {
  color: var(--bg-color-dark)
}

small {
  color:  #797979
}


/* ------------------------------ BUTTON ------------------------------ */
.button-class {
  padding: 0.8em 1.5em;
  color: #fff;
  background-color:  rgb(101, 155, 120);
  box-shadow: rgba(67,126,88,1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 20px;
}

.button-class:hover {
  background-color: var(--logo-color);
  color: #fff;
}

button:active {
  transform: translateY(-1px);
}

/* ------------------------------ NAV ------------------------------ */
.nav {
  background: rgb(67,126,88);
  background: linear-gradient(126deg, rgba(67,126,88,1) 25%, rgba(144,222,171,1)40%, rgba(67,126,88,1) 70%);
  box-shadow: var(--elevation-raised);
}
.nav a {
  color: var(--bg-color-light);
}

.nav a:hover{
  color: var(--logo-color-hover);
}

.company-name {
  margin-left: 30px;
}

@media (max-width: 990px) {
  .company-name{
    display: none;
  }
}

/* ------------------------------ FORM ------------------------------ */

.form {
  padding-top: 1em;
  max-width: 400px;
}

/* ------------------------------ LOGIN ------------------------------ */

.login {
  padding-top: 160px;
  padding-bottom: 100px;
  justify-content: center;
  text-align: center;
}

/* ------------------------------ VIDEO CONTAINER ------------------------------ */


.video-container {
    display: flex;
    padding-top: 60px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -1;
    
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }


.video-content {
  position: absolute;
  left: 49%;
  top: 35%;
  background-color: rgba(144, 144, 144, 0.166);
  margin-top: 40px;
  padding: 15px;
  border-radius: 6px;
  /* transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),0 0  0 3px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3); */
  border: 1px solid #a6a6a6;
  box-shadow: 1px 1px 1px #dddddd;
} 
  
  .video-content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #3a3a3a;
  }


  
/* ------------------------------ SCHOOLS ------------------------------ */

.schools-container{
  background-color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}
.list-group{
  border-radius: 0;
}

.list-group-item.active {
  /* background-color: #f0f2f5; */
  background-color: #23c48411;
  border-color: #437e582f;
  color: black
}

.depth-listing {
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.logo-wrapper{
  width: 75px;
  height: 75px;
}

.logo-wrapper-depth{
  width: 100px;
  height: 100px;
}

.logo-wrapper img{
  width: 100%;
}

.logo-wrapper-depth img{
  width: 100%;
}

@media (max-width: 776px) {
  .schools-container {
    margin: 0;
  }
  .tab-content {
    display: none;
  }
}


/* ------------------------------ SCHOOLS CAROUSEL ------------------------------ */

.slider {
  margin: 40px;
	background: white;
	height: 150px;
	
	overflow:hidden;
	position: relative;
	width: auto;
	

  .slide-track {
	animation: scroll 100s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
	
	.slide {
		height: 150px;
		width: 100px;
    margin: 30px;
    
	}

  .slide img {
    height: 50%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.338));
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


/* ------------------------------ BLOGS ------------------------------ */

.blogs-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-wrapper {
  height: 19rem;
  width: 20rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
  border: 1px solid rgba(0, 0, 0, 0.179);
  overflow: hidden;
  text-align: center;
  margin: 20px
}

.card-blog-image{
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.text-container {
  padding: 20px;
}

.text-container p {
  font-weight: 600;
}

/* ------------------------------ FOOTER ------------------------------ */

footer {
  margin-top: 50px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  background-color: #EEEEEE;
  color: rgb(121, 121, 121);
  padding-left: 27%;
} 

@media (max-width: 776px) {
  footer {
    padding-left: 15%;
  }
}



