:root {
  --logo-color: #437e58;
  --logo-color2: #747b74;
  --logo-color-hover:#23c483;
  --white: #feffff;
  --bg-color-dark: #5d5e5e;
  --bg-color-mid: #eeeeee;
  --bg-color-light: #f8faf9;
  --black-a08: rgba(0,0,0,0.08);
  --black-a30: rgba(0,0,0,0.3);
  --color-shadow: var(--black-a30);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 0px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined),0px 4px 4px var(--color-shadow);
}

body {
  background-color: var(--bg-color-light);
  margin: 0;
}

h1 {
  color: var(--logo-color2);
  font-weight: 800;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.015);
  margin-top: 2.5em;
  margin-bottom: 1em;
}

h2 {
  color: var(--logo-color2);
  font-weight: 600;
  text-shadow: 1px 2px 2px rgba(30, 30, 30, 0.066);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  /* font-size: 20px; */
  color: var(--logo-color2);
  font-weight: 500;
  text-shadow: 1px 2px 2px rgba(30, 30, 30, 0.066);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

h4 {
  color: var(--bg-color-dark);
}
p {
  color: var(--bg-color-dark);
  font-weight: 300;
}

p strong {
  font-weight: 500;
}

p a {
  color: var(--logo-color);
  text-decoration: none;
}
small {
  color:  #797979
}


/* ------------------------------ BUTTON ------------------------------ */
.button-class {
  padding: 0.8em 1.3em;
  color: #fff;
  background-color:  rgb(101, 155, 120);
  box-shadow: rgba(67,126,88,1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.button-class:hover {
  background-color: var(--logo-color);
  color: #fff;
}

button:active {
  transform: translateY(-1px);
}

/* ------------------------------ FORM ACCOUNT ------------------------------ */

.form-account {
  min-height: 550px;
  width: 600px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px var(--bg-color-mid);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin-top: 5px;
  margin-bottom: 20px; /* add bottom margin */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* ------------------------------ ABOUT ------------------------------ */

.about {
  width: 80%;
  
}

.subscribe-container {
  margin-bottom: 30px;
  height: 200px;
  width: 750px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(136deg, rgba(127, 185, 147, 0.368) 40%, rgba(170, 245, 196, 0.368)50%, rgba(124, 184, 145, 0.368) 75%);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 20px;
  margin-bottom: 70px;
  
}

.subscribe-container p {
  margin-bottom: 30px;
  
}

.subscribe-container input {
  width: 250px;
}

.subscribe-container .subscription-container button {
  padding: 15px;
  margin-bottom: 0;
  /* background-color: var(--white);
  color: var(--logo-color); */
}


.about-image {
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.419);
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

@media (min-width: 900px) {
  .subscribe-container {
    align-items: center;
  }

  .subscribe-container input {
    width: 350px;
  }
}
/* ------------------------------ RESOURCES ------------------------------ */

.resources {
  text-align: center;
  
}

/* ------------------------------ NAV ------------------------------ */
.nav {
  background: rgb(67,126,88);
  background: linear-gradient(126deg, rgba(67,126,88,1) 25%, rgba(144,222,171,1)40%, rgba(67,126,88,1) 70%);
  box-shadow: var(--elevation-raised);
}
.nav a {
  color: var(--bg-color-light);
}

.nav a:hover{
  color: var(--logo-color-hover);
}

.company-name {
  margin-left: 30px;
}

.nav-icon {
  text-align: center;
}

.nav-link {
  text-align: center;
}

@media (max-width: 990px) {
  .company-name{
    display: none;
  }

  .nav-link {
    padding: 5px;
    padding-bottom: 20px;
    font-weight: 600;
  }
  .nav-icon {
    display: none;
  }

  .nav a:hover{
    color: white
  }
}


/* ------------------------------ FORM ------------------------------ */

.form {
  height: 290px;
  padding-top: 1em;
  width: 380px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px var(--bg-color-mid);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .form {
    box-shadow: none;
    background-color: var(--bg-color-light);
  }
}

/* ------------------------------ LOGIN ------------------------------ */

.login {
  height: 80vh;
  padding-top: 110px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.login h2 {
  padding-left: 20px;
  padding-right: 20px;
}
/* ------------------------------ VIDEO CONTAINER ------------------------------ */


.video-container {
    display: flex;
    padding-top: 60px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -1;
    
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }


.video-content {
  position: absolute;
  left: 15%;
  top: 20%;
  margin-top: 40px;
  padding: 15px;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  margin-right: 20px;
  background: linear-gradient(126deg, rgba(67,126,88,0.5) 25%, rgba(144,222,171,0.5)40%, rgba(67,126,88,0.5) 70%);
  box-shadow: var(--elevation-raised);
} 
  
  .video-content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px #3a3a3a;
    font-size: 28px;
  }

  
/* ------------------------------ SCHOOLS ------------------------------ */

.schools-container{
  background-color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
 
}

.responsive-stack {
  display: flex;
  flex-wrap: wrap;
}

.responsive-stack .btn {
  padding: 0.5rem 0.5rem; /* decrease button size */
  font-size: 0.8rem; /* decrease font size */
 
}

.list-group{
  border-radius: 0;
}

.list-group-item.active {
  /* background-color: #f0f2f5; */
  background-color: #23c48411;
  border-color: #437e582f;
  color: black
}

.depth-listing {
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.logo-wrapper{
  width: 75px;
  height: 75px;
}

.logo-wrapper-depth{
  width: 100px;
  height: 100px;
}

.logo-wrapper img{
  width: 100%;
}

.logo-wrapper-depth img{
  width: 100%;
}

@media (max-width: 1100px) {
  .schools-container {
    margin: 0;
  }

}

@media (max-width: 767px) {
  .schools-container {
    margin: 0;
  }
  .tab-content {  
    display: none;
  }
}



/* ------------------------------ SCHOOLS CAROUSEL ------------------------------ */

.slider {
  margin-top: 80px;
	background: var(--white);
  border-radius: 20px;
	height: 150px;
	overflow:hidden;
	position: relative;
	width: auto;
 
	

  .slide-track {
    animation: scroll 200s linear infinite;
    display: flex;
    width: calc(250px * 11);
  }
  
	
	.slide {
		height: 150px;
		width: 100px;
    margin: 30px;
    
	}

  .slide img {
    height: 50%;
    
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 11))}
}

/* ------------------------------ EVENTS ------------------------------ */

.carousel {
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden ;
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-bottom: 80px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.carousel-item img{
  height: 340px !important;
  width: 100%;
 
  object-fit: cover;
  object-position: top;
}

.carousel-content {
  padding: 20px;
}

/* ------------------------------ EXCLUSIVE CONTENT------------------------------ */

.exclusive-container {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin-top: 40px;
  margin-bottom: 80px;
}

.exclusive-text-container {
  margin-top: 20px;
}


.exclusive-image-container {
  background-color: var(--bg-color-mid);
  height: 340px;
  width: auto;
}

.exclusive-container img {
  margin-top: 8px;
  height: 95%;
  filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.3));
  
  
}

/* ------------------------------ BLOGS ------------------------------ */

.blogs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.card-wrapper {
  height: 18rem;
  width: 20rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  
  overflow: hidden;
  margin: 35px;
  margin-bottom: 25px;
}

.card-blog-image{
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.text-container {
  padding: 20px;
}

.text-container p {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .card-wrapper {
    margin: 14px 
  }
}

/* ------------------------------ PROFILE INFO ------------------------------ */

.profile-container {
  background-color: var(--white);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  height: 38rem;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-container p {
  overflow-wrap: anywhere;
  
}


.image-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--bg-color-mid);
  overflow: hidden;
}

.image-container img {
  width: 100%;
}


.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.favorites-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: center;
    overflow: scroll;
    margin-top: 10px;
    
}

.favorite {
  background-color: var(--bg-color-light);
  border: 1px solid var(--bg-color-mid);
  margin: 5px;
  padding: 10px;
  text-align: start;
  height: 150px;
  flex: 1 0 30%;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .favorite {
    height: 180px;
    flex: 1 0 40%;
  }
}
/* ------------------------------ FOOTER ------------------------------ */

footer {
  margin-top: 30px;
  height: 120px;
  width: 100%;
  background-color: #EEEEEE;
  color: rgb(121, 121, 121);
  display: grid;
  place-items: center;
  position: relative;
  bottom: 0;
} 

.footer input {
  height: 35px;
}
.footer-container{
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

.footer small {
  display: flex;
  
}

.footer a {
  color: var(--bg-color-dark);
}

.subscription-container {
  width: 400px;
  display: flex;

}

.subscription-container button {
  margin-top: 0px;
  padding: 9px;
  margin-left: 11px;
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 920px) {
  footer {
    height: 120px;
  }

  .footer-subscribe {
    display: none;
  }

}

/* ------------------------------ HEART-FAVORITES ------------------------------ */

.hover-heart {
  color: lightgray
}

.hover-heart:hover {
  color: var(--logo-color)
}

.hover-heart.liked {
  color: var(--logo-color)
}
