:root {
  --logo-color: #437e58;
  --logo-color2: #747b74;
  --logo-color-hover:#23c483;
  --white: #feffff;
  --bg-color-dark: #5d5e5e;
  --bg-color-mid: #f6f7f7;
  --bg-color-light: #f8faf9;
  --black-a08: rgba(0,0,0,0.08);
  --black-a30: rgba(0,0,0,0.3);
  --color-shadow: var(--black-a30);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 0px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined),0px 4px 4px var(--color-shadow);
}

body {
  background-color: var(--bg-color-light);
  margin: 0;
}

h1 {
  color: var(--logo-color2);
  font-weight: 800;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.015);
  margin-top: 2.5em;
  margin-bottom: 1em;
}

h2 {
  color: var(--logo-color2);
  font-weight: 600;
  text-shadow: 1px 2px 2px rgba(30, 30, 30, 0.066);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  /* font-size: 20px; */
  color: var(--logo-color2);
  font-weight: 500;
  text-shadow: 1px 2px 2px rgba(30, 30, 30, 0.066);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

h4 {
  color: var(--bg-color-dark);
}
p {
  color: var(--bg-color-dark);
  font-weight: 300;
}

p strong {
  font-weight: 500;
}

small {
  color:  #797979
}


/* ------------------------------ BUTTON ------------------------------ */
.button-class {
  padding: 0.8em 1.3em;
  color: #fff;
  background-color:  rgb(101, 155, 120);
  box-shadow: rgba(67,126,88,1);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-class:hover {
  background-color: var(--logo-color);
  color: #fff;
}

button:active {
  transform: translateY(-1px);
}

/* ------------------------------ ABOUT ------------------------------ */

.about {
  width: 80%;
  
}


.about-image {
  width: 90%;
  box-shadow: var(--elevation-raised);
  height: 300px;
  object-fit: cover;
  object-position: top;
}

/* ------------------------------ RESOURCES ------------------------------ */

.resources {
  text-align: center;
  
}

/* ------------------------------ NAV ------------------------------ */
.nav {
  background: rgb(67,126,88);
  background: linear-gradient(126deg, rgba(67,126,88,1) 25%, rgba(144,222,171,1)40%, rgba(67,126,88,1) 70%);
  box-shadow: var(--elevation-raised);
}
.nav a {
  color: var(--bg-color-light);
}

.nav a:hover{
  color: var(--logo-color-hover);
}

.company-name {
  margin-left: 30px;
}

@media (max-width: 990px) {
  .company-name{
    display: none;
  }
}

/* ------------------------------ FORM ------------------------------ */

.form {
  padding-top: 1em;
  max-width: 400px;
}

/* ------------------------------ LOGIN ------------------------------ */

.login {
  padding-top: 160px;
  padding-bottom: 100px;
  justify-content: center;
  text-align: center;
}

/* ------------------------------ VIDEO CONTAINER ------------------------------ */


.video-container {
    display: flex;
    padding-top: 60px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -1;
    
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }


.video-content {
  position: absolute;
  left: 55%;
  top: 30%;
  background-color: rgba(68, 68, 68, 0.089);
  margin-top: 40px;
  padding: 15px;
  border-radius: 6px;
  /* transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),0 0  0 3px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3); */
  border: 1px solid #a6a6a6;
  box-shadow: 1px 1px 1px #dddddd;
  margin-right: 20px;
} 
  
  .video-content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px #3a3a3a;
    font-size: 28px;
  }

  
  @media (max-width: 767px) {
    .video-content {
      left: 12%;
      top: 20%;
    }

    
  }
  

  
/* ------------------------------ SCHOOLS ------------------------------ */

.schools-container{
  background-color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
 
}
.list-group{
  border-radius: 0;
}

.list-group-item.active {
  /* background-color: #f0f2f5; */
  background-color: #23c48411;
  border-color: #437e582f;
  color: black
}

.depth-listing {
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.logo-wrapper{
  width: 75px;
  height: 75px;
}

.logo-wrapper-depth{
  width: 100px;
  height: 100px;
}

.logo-wrapper img{
  width: 100%;
}

.logo-wrapper-depth img{
  width: 100%;
}

@media (max-width: 1100px) {
  .schools-container {
    margin: 0;
  }

}

@media (max-width: 767px) {
  .schools-container {
    margin: 0;
  }
  .tab-content {  
    display: none;
  }
}



/* ------------------------------ SCHOOLS CAROUSEL ------------------------------ */

.slider {
  margin: 10px;
	background: var(--bg-color-light);
	height: 150px;
	
	overflow:hidden;
	position: relative;
	width: auto;
	

  .slide-track {
	animation: scroll 100s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
	
	.slide {
		height: 150px;
		width: 100px;
    margin: 30px;
    
	}

  .slide img {
    height: 50%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.338));
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

/* ------------------------------ EVENTS ------------------------------ */

.carousel {
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden ;
  height: 500px;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
  border: 1px solid rgba(0, 0, 0, 0.179);
  margin-bottom: 25px;
}


.carousel-item img{
  height: 300px !important;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.carousel-content {
  padding: 20px;
}

/* ------------------------------ EXCLUSIVE CONTENT------------------------------ */

.exclusive-container {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
  border: 1px solid rgba(0, 0, 0, 0.179);
  display: flex;
}

.exclusive-text-container {
  width: 50%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}


.exclusive-container img {
  width: 50%;
}

/* ------------------------------ BLOGS ------------------------------ */

.blogs-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  height: 19rem;
  width: 20rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
  border: 1px solid rgba(0, 0, 0, 0.179);
  overflow: hidden;
  margin: 35px;
  margin-bottom: 25px;
}

.card-blog-image{
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.text-container {
  padding: 20px;
}

.text-container p {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .card-wrapper {
    margin: 14px 
  }
}

/* ------------------------------ FOOTER ------------------------------ */

footer {
  margin-top: 30px;
  height: 240px;
  width: 100%;
  background-color: #EEEEEE;
  color: rgb(121, 121, 121);
  display: grid;
  place-items: center;
  position: relative;
  bottom: 0;
} 

.footer-container{
  width: 75%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  
}

.subscription-container {
  width: 250px;
  
}

@media (max-width: 800px) {
  footer {
    height: 450px;
    display: flex;
    justify-content: center;
    
  }
  .footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

